* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div {
    width: 100%;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: 100% 100%;
    position: relative;
}

.center_div {
    width: 340px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    text-align: center;
    box-shadow: -1px 15px 30px 10px black;
}

.img_div {
    width: inherit;
    height: 370px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #67624c, #767c6e);
}

figure img {
    width: 550px;
    height: 480px;
    margin-top: -10px;
}

.about_div {
    background-color: white;
    padding: 30px 15px;
}

.about_div h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ec9b3b;
}

.about_div h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 5px 0 0 0;
}

.about_div p {
    padding-top: 10px;
    font-size: 14px;
    color: #a5b1c2;
}

.lower_div {
    background-color: rgb(255, 153, 0);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}